@()

@*
 * Home page static file to allow for special styling.
 *@
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Diego Cabrera Pell</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/home.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">    
    </head>
    <header>
        <div class="header-graphic">
            <h1>Diego Cabrera Pell</h1>
        </div>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/resume">Resume</a>
            <a href="/projects">Projects</a>
            <a href="#contactInfo" id="Contact">Contact Me</a>
        </div>
    </header>
    <body>
        <h1>About Me</h1>
        <img src="/assets/images/htg.png" height="500px" width="334px">
        <section>
            <h1>Section Header</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, natus ducimus vero laborum sequi et, quaerat sed veniam ratione minima non ab, alias saepe accusantium? Laboriosam suscipit iusto nam cum!</p>
        </section>
        <section>
            <h1>Section Header</h1>
            <p>Laboriosam dolorum enim iste quo ad, quaerat magni quasi nostrum quod consectetur itaque alias beatae possimus autem tempore eum sunt accusamus minima necessitatibus fugit iusto officiis incidunt esse quidem! Soluta!</p>
        </section>
        <section>
            <h1>Section Header</h1>
            <p>Mollitia inventore natus provident a minus nemo non expedita, voluptates iste omnis labore quibusdam eaque! Deleniti sapiente iste ipsam alias. Suscipit quidem cumque impedit veniam culpa officia repellendus aperiam cupiditate!</p>
        </section>
        <section>
            <h1>Section Header</h1>
            <p>Nulla assumenda itaque magnam odio molestiae amet, fugiat pariatur veritatis sapiente obcaecati quae vel impedit cupiditate ullam sunt esse quidem doloribus quas atque, aliquam beatae qui! Commodi nobis possimus perferendis?</p>
        </section>
        <section>
            <h1>Section Header</h1>
            <p>Libero quod iusto repellat eligendi sapiente sed voluptatibus, nam dignissimos labore vitae soluta fugiat, perferendis cum ex? Nemo qui quis blanditiis omnis deserunt unde recusandae distinctio earum cum, sunt optio.</p>
        </section>
    </body>
    <footer id="contactInfo">
        <div>
            <b>Contact Me:</b><br>
            email: diegocabrerapell@@gmail.com<br>
            LinkedIn: <a href="https://www.linkedin.com/in/diego-cabrera-pell-850301261/">Diego Cabrera Pell</a><br>
            GitHub: <a href="https://github.com/DiegoCabreraPell">Diego Cabrera Pell</a>
        </div>
    </footer>
</html>