@()

@commons.main("Home: Diego Cabrera Pell"){
    @commons.stylesheet("home.css")
}{
    <script>document.getElementById("home").classList.add("cur-page");</script>
    <div class="center-container">
        <div class="intro">
            <div class="whoami horizontal-flex-container">
                <div class="image-container">
                    <img class="profile-photo" src="/assets/images/htg.png" alt="">
                </div>
                <div>
                    <h1>Who Am I?</h1>
                    <p>My name is Diego, and I am a 3rd year honors computers science student at the University of Saskatchewan.
                        I Love learning and solving problems.
                        I am happiest when I am able to apply a learned skill in a new way</p>
                </div>
            </div>
            <div class="goals horizontal-flex-container">
                <h1>Goals</h1>
                <p>I plan on obtaining a masters and PhD in computer science with the goal of entering into research</p>
            </div>
            <div class="experience horizontal-flex-container">
                <p>
                    Volunteering in the software and systems teams at the University of Sastachewan Space Team (USST). Working on the RADSAT-SK project
                </p>
                <h1>Experience</h1>
            </div>
        </div>
        <div class="projects">
            <h1>Projects</h1>
            <a href="/projects">See All</a>
            <div class="proj-items">
                <p>
                    <a href="">Particle Simulation Engine</a>: A highly customizable simulation engine for uniform particles. Written in C++.
                </p>
                <p>
                    <a href="">Smart Clean Room (USST)</a>: A smart room system created for humidity control and security of the USST clean room written in C++ on a Raspberry Pi with the PIGPIO and OpenCV libraries.
                </p>
                <p>
                    <a href="">Weather Station Data Analysis</a>: An analysis of 400+ weather stations across Alberta written in Python using OpenCV, Numpy, and Pillow. Investigates effects of Orthographic Lift on local climates
                </p>
                <p>
                    <a href="">Particle Simulation</a>: A particle simulation written in C++ using the Particle Simulation Engine and OpenGL with GLUT.
                </p>
            </div>
        </div>
    </div>
}