@()

@main("Home: Diego Cabrera Pell"){
    @commons.stylesheet("home.css")
}{
        <section>
            <h1>Who Am I?</h1>
            <img class="left" src="/assets/images/htg.png" height="500px" width="334px">
            <p>
                Hi! My name is Diego Cabrera Pell, I am a third year computer science honors student at the University of Saskatchewan.
            </p>
        </section>
        <section>
            <h1>Goals</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, natus ducimus vero laborum sequi et, quaerat sed veniam ratione minima non ab, alias saepe accusantium? Laboriosam suscipit iusto nam cum!</p>
        </section>
        <section>
            <h1>Experience</h1>
            <p>Laboriosam dolorum enim iste quo ad, quaerat magni quasi nostrum quod consectetur itaque alias beatae possimus autem tempore eum sunt accusamus minima necessitatibus fugit iusto officiis incidunt esse quidem! Soluta!</p>
        </section>
        <section>
            <h1>Education</h1>
            <p>Mollitia inventore natus provident a minus nemo non expedita, voluptates iste omnis labore quibusdam eaque! Deleniti sapiente iste ipsam alias. Suscipit quidem cumque impedit veniam culpa officia repellendus aperiam cupiditate!</p>
        </section>
        <section>
            <h1>Strengths</h1>
            <p>Nulla assumenda itaque magnam odio molestiae amet, fugiat pariatur veritatis sapiente obcaecati quae vel impedit cupiditate ullam sunt esse quidem doloribus quas atque, aliquam beatae qui! Commodi nobis possimus perferendis?</p>
        </section>
        <section>
            <h1>Achievements</h1>
            <p>Libero quod iusto repellat eligendi sapiente sed voluptatibus, nam dignissimos labore vitae soluta fugiat, perferendis cum ex? Nemo qui quis blanditiis omnis deserunt unde recusandae distinctio earum cum, sunt optio.</p>
        </section>
    </body>
}