@()

@commons.main("Diego Cabrera Pell"){
    @commons.stylesheet("projects.css")
}{
    <section class="center-container">
        <div class="card-box">
            <div class="card">
                <img src="/assets/images/htg.png" alt="" class="card-background">
                <div class="card-title">
                    <p>Project 1</p>
                </div>
                <div class="card-description">
                    <p>Project 1 is a project</p>
                </div>
                <a href="projects/Particle-Engine" class="clickable"></a>
            </div>
            <div class="card">
                <img src="/assets/images/htg.png" alt="" class="card-background">
                <div class="card-title">
                    <p>Project 2</p>
                </div>
                <div class="card-description">
                    <p>Project 2 is a project</p>
                </div>
                <a href="projects" class="clickable"></a>
            </div>
            <div class="card">
                <img src="/assets/images/htg.png" alt="" class="card-background">
                <div class="card-title">
                    <p>Project 3</p>
                </div>
                <div class="card-description">
                    <p>Project 3 is a project</p>
                </div>
                <a href="projects" class="clickable"></a>
            </div>
            <div class="card">
                <img src="/assets/images/htg.png" alt="" class="card-background">
                <div class="card-title">
                    <p>Project 4</p>
                </div>
                <div class="card-description">
                    <p>Project 4 is a project</p>
                </div>
                <a href="projects" class="clickable"></a>
            </div>
            <div class="card">
                <img src="/assets/images/htg.png" alt="" class="card-background">
                <div class="card-title">
                    <p>Project 5</p>
                </div>
                <div class="card-description">
                    <p>Project 5 is a project</p>
                </div>
                <a href="projects" class="clickable"></a>
            </div>
            <div class="card">
                <img src="/assets/images/htg.png" alt="" class="card-background">
                <div class="card-title">
                    <p>Project 6</p>
                </div>
                <div class="card-description">
                    <p>Project 6 is a project</p>
                </div>
                <a href="projects" class="clickable"></a>
            </div>
            <div class="card">
                <img src="/assets/images/htg.png" alt="" class="card-background">
                <div class="card-title">
                    <p>Project 7</p>
                </div>
                <div class="card-description">
                    <p>Project 7 is a project</p>
                </div>
                <a href="projects" class="clickable"></a>
            </div>
            <div class="card">
                <img src="/assets/images/htg.png" alt="" class="card-background">
                <div class="card-title">
                    <p>Project 8</p>
                </div>
                <div class="card-description">
                    <p>Project 8 is a project</p>
                </div>
                <a href="projects" class="clickable"></a>
            </div>
        </div>
    </section>
    <script src="/assets/javascripts/projects.js"></script>
}