body {
    margin: 0;
}

.horizontal-flex-container {
    display: flex;
    
}


.center-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 2vw;
}

.center-container>div {
    width: 50%;
}

.image-container {
    padding-right: 2vw;
}

img.profile-photo {
    aspect-ratio: 1;
    width: 15vw;
}

.goals > p {
    padding-left: 2vw;
    padding-top: 1vh;
}

.experience > p {
    padding-right: 2vw;
    padding-top: 1vh;
}

.projects {
    display: grid;
}

.projects * {
    text-align: center;
}

.projects a {
	text-decoration: none;
	color: #eee;
}

.proj-items * {
    text-align: left;
}