.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

	background-color: #220b2f;
	width: 100%;
	color: gray;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 10vw;
	padding-right: 1vw;

	align-self: center;
}

.indented {
	padding-left: 4em;
	padding-top: 0px;
	padding-bottom: 0px;
}

.funky{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    animation: myAnim 14s ease 0s 1 normal both;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}