body {
	background-color: #dad3be;
	margin: 0;
}

.header-graphic {
	background-color: #254336;
	color: #b7b597;
	padding: 0;
}

.navbar {
	background-color: #254336;
	overflow: hidden;
}

.navbar a {
	float: left;
	color: #b7b597;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a.active {
	background-color: black;
}

.navbar a:hover {
	background-color: #b7b597;
	color: #254336;
}

.navbar a#Contact {
	float: right;
}

footer {
    z-index: 10;
	background-color: #254336;
	width: 100%;
	color: #b7b597;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

footer a {
	text-decoration: none;
	color: #b7b597;
}