.pt-sans-regular {
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}
  
.pt-sans-bold {
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.pt-sans-regular-italic {
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.pt-sans-bold-italic {
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-style: italic;
}
  

header {
	width: 100%;
	color: white;
	padding-top: 2vh;
	padding-bottom: 0vh;
}

body {
	background-color: #101010;
	color: #aaa;
	margin: 0;
}

.content {
	min-height: 75vh;
}

body h1, h2, h3 {
	color: #ddd;
}

.navbar {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 2vh 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2vw;
}

.navbar a {
	color: #666;
	text-align: center;
	padding: 0;
	text-decoration: none;
	font-size: 17px;
	margin: 0;
	transition: 0.5s;
}

.navbar a.cur-page {
	color: white
}

.navbar a:hover {
	color: white;
}

footer {
	text-align: center;
	width: 100%;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

footer a {
	text-decoration: none;
	color: #aaa;
}